html {
    overscroll-behavior-y: contain;
}
/* Your app custom styles here */
.tracker-button i.icon {
    width: 50px;
    height: 50px;
}
.tracker-button .icon-windel {
    background-image: url('../assets/baby-diaper.png');
}
.tracker-button .icon-flasche {
    background-image: url('../assets/feeding-bottle.png');
}
.tracker-button .icon-essen {
    background-image: url('../assets/baby-food.png');
}
.tracker-button .icon-schlaf {
    background-image: url('../assets/sleeping-baby.png');
}
  